.card-banner {
  display: flex;
}

.card-banner-text {
  background-color: #eaeaea;
  text-align: left;
  padding: 1.5rem 6rem;
  width: 60%;
}

.banner-header {
  color: #cc0000;
  font-size: 2rem;
  padding-bottom: 10px;
}

.card-header {
  display: flex;
}

.card-header span:not(:first-child) {
  padding-left: 10px;
}

.card-banner-text h2 {
  padding-bottom: 0.3rem;
}

.card-banner-text h3 {
  color: var(--Dark-Header-Text);
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  gap: 5px;
}

.card-message {
  display: flex;
  gap: 5px;
  font-size: 1.1rem;
  padding-top: 1.2rem;
}

.card-banner:hover span,
.card-banner:hover h3 {
  text-decoration: underline;
}

.card-text {
  color: var(--red-header-text);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1px;
}

.card-text img {
  height: 1rem;
}

.card-banner-right {
  display: flex;
  background-color: #afacaf;
  width: 35%;
  align-items: center;
}

.card-banner-right img {
  height: 73%;
  padding-left: 1rem;
}

.rounded-edge {
  height: 100%;
  background-color: #afacaf;
  width: 4rem;
  display: inline;
  border-radius: 40%;
  margin-left: -2rem;
}

.dark-gray {
  color: #333333;
}

.gray {
  color: #666666;
}
