.cart-item {
  display: flex;
  text-align: left;
  gap: 3rem;
  color: var(--Dark-Header-Text);
  border-top: solid 1px #c0c0c0;
  padding: 2rem 0rem;
}

.cart-item > img {
  height: 5.3rem;
  width: 5rem;
}

.btns__container {
  display: flex;
  gap: 1rem;
}

.cart-item .btns__container > button,
.cart-item .btns__container .quantity-btn {
  background-color: white;
  width: 5.8rem;
  height: 2.5rem;
  font-size: 0.76rem;
  color: #525252;
  border: solid 1px #7c7c7c;
  border-radius: 5px;
  padding-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.cart-item .btns__container button:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.cart-item .info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 27rem;
}

.cart-item .price__container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-item .price__container span:nth-child(1) {
  font-size: 1.4rem;
  font-weight: bold;
}

.cart-item .price__container span:nth-child(2) {
  color: #878792;
  font-size: 1rem;
}

.cart-item .remove-btn {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #cc0000;
  border: none;
  border-radius: 5px;
  width: 8rem;
  height: 2.8rem;
  margin-top: 0.5rem;
}
