.circle-banner {
  display: flex;
}

.circle-banner-text {
  background-color: #eaeaea;
  text-align: left;
  padding: 1.5rem 6rem;
  width: 60%;
}

.banner-header {
  color: #cc0000;
  font-size: 2rem;
  padding-bottom: 10px;
}

.circle-banner-text h3 {
  color: var(--Dark-Header-Text);
  font-weight: 400;
  display: flex;
  gap: 5px;
  padding-top: 0.5rem;
}

.circle-text {
  color: var(--red-header-text);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1px;
}

.circle-text img {
  height: 1rem;
}

.circle-banner-right {
  display: flex;
  background-color: #afacaf;
  width: 35%;
}

.circle-banner-right img {
  height: 100%;
  padding-left: 1rem;
}

.rounded-edge {
  height: 100%;
  background-color: #afacaf;
  width: 4rem;
  display: inline;
  border-radius: 40%;
  margin-left: -2rem;
}

.dark-gray {
  color: #333333;
}

.gray {
  color: #666666;
}

.circle-banner:hover h2,
.circle-banner:hover h3 {
  text-decoration: underline;
}
