.featured-categories {
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  color: var(--Dark-Header-Text);
}

.featured-categories h1 {
  font-size: var(--section-header-size);
  padding-bottom: var(--section-header-padding);
}

.categories {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.categories img {
  width: 10rem;
  height: auto;
}

.category-display h3 {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.5rem;
  color: var(--Dark-Header-Text);
}

.category-display:hover h3 {
  text-decoration: underline;
}

.category-display:hover {
  cursor: pointer;
}

.circle {
  border-radius: 50%;
}

@media (max-width: 600px) {
  .categories {
    flex-direction: column;
    gap: 2rem;
  }
}
