.hamburger-menu-icon {
  display: none;
}

@media (max-width: 600px) {
  .hamburger-menu-icon {
    display: block;
    width: 1.5rem;
    height: auto;
  }

  .popout-background {
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(46, 46, 46, 0.568);
    width: 100%;
    z-index: 100;
  }

  .mobile-nav-popout {
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100dvh;
    width: 90vw;
    z-index: 3;
    padding: 0rem 0rem;
    overflow-y: scroll;
  }

  .mobile-nav-popout .mobile-nav-header__wrapper {
    display: flex;
    border-bottom: solid 1px rgb(199, 199, 199);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
  }

  .mobile-nav-popout > .mobile-nav-header__wrapper > h3 {
    font-size: 1.4rem;
    text-align: left;
    color: #333333;
  }

  .mobile-nav-popout .categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem 1rem;
  }

  .mobile-nav-popout .categories-container > a {
    width: 43%;
  }

  .mobile-nav-popout .categories-container > a h3 {
    font-size: 0.95rem;
  }

  .mobile-nav-popout .categories-container img {
    width: 100%;
    height: auto;
  }

  .mobile-nav-popout .categories {
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
    border-bottom: solid 1px rgb(199, 199, 199);
  }

  .mobile-nav-popout .categories-container > a {
    padding: 0;
    padding-bottom: 1rem;
  }

  .mobile-nav-popout .categories h4 {
    color: #333333;
    text-align: left;
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
    /* padding-bottom: 1.5rem; */
  }
  .mobile-nav-popout > ul > li {
    border-bottom: solid 1px rgb(199, 199, 199);
    padding: 0.9rem 1rem;
    text-align: left;
    font-size: 0.95rem;
  }

  .mobile-nav-popout > ul > li a {
    color: #3b3b3b !important;
  }

  .hamburger-close-btn {
    width: 2.5rem;
    height: auto;
  }

  .mobile-nav-popout.active {
    animation: slide-out 500ms ease-out;
  }

  @keyframes slide-out {
    from {
      transform: translateX(-90vw);
    }

    to {
      transform: translateX(0);
    }
  }
}
