.logo {
  width: 2.7rem;
  height: 2.7rem;
  padding-bottom: 4px;
  padding-right: 1.2rem;
}

.nav-shopping {
  gap: 0.8rem;
  /* padding: 1.1rem 16.3rem; */
  padding: 1.1rem 0rem;
  width: 100%;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.04) 0px -1px 2px, rgba(0, 0, 0, 0.04) 0px 1px 2px,
    rgba(0, 0, 0, 0.04) 0px 3px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.nav-shopping a {
  display: flex;
  align-items: center;
  gap: 3px;
}

.nav-links {
  font-size: 1rem;
  /* margin-left: auto; */
  list-style: none;
  display: flex;
  gap: 0.4rem;
  color: #333333;
  font-weight: 700;
  padding-right: 2rem;
}

.nav-shopping a:not(.logo-link) {
  color: #333333;
  text-decoration: none;
  padding: 0.8rem 0.9rem;
  border-radius: 6px;
  /* text-wrap: nowrap; */
}

.nav-shopping a:not(.logo-link):hover {
  background-color: #f7f7f7;
}

.nav-shopping input {
  border: none;
  width: 26.8rem;
  font-size: 1.05rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-shopping input:focus {
  outline: none;
}

.search-bar__container {
  display: flex;
  background-color: #f7f7f7;
  border-radius: 6px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.search-bar-icons__container,
.nav-shopping input {
  background-color: #f7f7f7;
  color: #333333;
  height: 2.5rem;
}

.search-bar-icons__container {
  display: flex;
  align-items: center;
  padding-right: 0.7rem;
  gap: 0.7rem;
}

.nav-shopping svg {
  height: 1.3rem;
}

.nav-shopping .search-icon {
  height: 1.05rem;
}

.sign-in__container a {
  display: flex;
  align-items: center;
  padding: 0.7rem 1.3rem;
  gap: 10px;
  font-size: 0.85rem;
}

.icon-cart {
  padding: 0.7rem;
  border-radius: 6px;
}

.icon-cart:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.cart-link {
  padding: 0 !important;
  margin-left: 3px;
  position: relative;
}

.arrow-dropdown {
  height: 0.8rem;
  opacity: 0;
  transform: translateY(-4px);
  pointer-events: none;
}

.nav-shopping a:hover .arrow-dropdown {
  transition: ease-in-out 200ms;
  transform: translateY(0px);
  opacity: 100%;
}

.dropdown {
  position: absolute;
  background-color: white;
  width: 18rem;
  border: solid 1px black;
  box-shadow: rgba(0, 0, 0, 0.02) 0px -1px 6px, rgba(0, 0, 0, 0.04) 0px 1px 3px,
    rgba(0, 0, 0, 0.06) 0px 3px 5px, rgba(0, 0, 0, 0.04) 0px 4px 6px;
  border: 1px solid rgb(247, 247, 247);
  padding: 0rem 0.8rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  top: 100%;
  animation: dropdown 200ms;
}

@keyframes dropdown {
  0% {
    opacity: 50%;
    transform: translateY(-20px);
  }
  100% {
    opacity: 100%;
  }
}

.dropdown h2 {
  font-size: 1.25rem;
  padding: 1.2rem 0rem;
  text-align: left;
  border-bottom: solid 1px #afacaf;
}

.dropdown li {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* align-items: flex-start; */
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
}

.dropdown li a {
  padding: 1rem 0rem !important;
}

.dropdown li:hover a {
  text-decoration: underline;
  background-color: inherit !important;
}

.dropdown li:not(:last-child) {
  border-bottom: solid 1px #afacaf;
}

.dropdown a {
  padding: 0;
  cursor: pointer;
}

.cart-quantity {
  height: 1.3rem;
  width: 1.3rem;
  background-color: #cc0000;
  color: white;
  /* padding: 1rem; */
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -5px;
}

/* --------------------- MINOR NAV STYLING ------------------------- */

.minor-nav__container {
  /* background: repeating-linear-gradient(
    45deg,
    #cc0000 0px,
    #cc0000 20px,
    #ea102a 20px,
    #ea102a 40px
  ); */
  background-color: #cc0000;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0rem;
  width: 100%;
}

.minor-nav__container svg {
  height: 1rem;
}

.minor-nav-links {
  display: flex;
  list-style: none;
  font-size: 0.74rem;
  align-items: center;
  /* font-weight: 300; */
  /* gap: 0.2rem; */
}

.minor-nav-links.right {
  gap: 0.2rem;
  padding-right: 16.3rem;
}

.minor-nav-links.right a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(244, 244, 244);
}

.minor-nav-links.left {
  gap: 0.5rem;
  padding-left: 16.3rem;
}

.minor-nav-links.left li {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 6px;
}

.minor-nav-links.left li:hover {
  background-color: #ac0303;
}

.minor-nav-links a {
  color: rgb(244, 244, 244);
  text-decoration: none;
  padding: 0.7rem 1rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.minor-nav-links .location-link {
  padding-right: 1.7rem;
}
