.order-types__container {
  padding-top: 0.9rem;
}

.order-type-card {
  width: 160px;
  background-color: white;
  border: solid 1px #7c7c7c;
  border-radius: 10px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.3rem;
}

.order-type-card:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  border-color: var(--Dark-Header-Text);
}

.order-type-card.active {
  border: solid 2px #008300;
  text-decoration: underline;
}

.order-type-card.active .order-time {
  color: #008300;
}

.button__wrapper.dashed {
  border: dashed 1px #7c7c7c;
}

.button__wrapper {
  padding: 2px;
  border-radius: 12px;
}

.order-type-icon {
  width: 22px;
  height: auto;
}

.order-type-text {
  color: var(--Dark-Header-Text);
  font-size: 16px;
  font-weight: bold;
}

.order-types {
  display: flex;
  gap: 7px;
}

.order-time {
  color: #7c7c7c;
  font-size: 12px;
}
