.product-page {
  max-width: 1200px;
  padding: 1.5rem 0rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.product-page .product-image {
  width: 350px;
  height: auto;
}

.product-information {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-items: start;
}

.product-information > * {
  padding-left: 3px;
}

.product-information .product-header,
.product-information .product-price {
  color: var(--Dark-Header-Text);
}

.product-price {
  padding: 0.4rem 0rem;
  padding-bottom: 0rem;
}

.price-disclaimer {
  font-size: 0.9rem;
  color: #7c7c7c;
}

.symbols__container {
  display: flex;
}

.rating-symbol {
  width: 18px;
  height: auto;
}

.ratings-questions,
.rating-number {
  color: #7c7c7c;
  text-decoration: underline;
  font-size: 0.9rem;
  font-weight: 600;
}

.ratings-questions:hover,
.rating-number:hover {
  color: #606060;
  text-decoration: none;
  cursor: pointer;
}

/* .ratings-questions {
  border-left: solid 1px black;
} */

.ratings-info {
  display: flex;
  gap: 7px;
}

.rating {
  display: flex;
  align-items: flex-end;
  gap: 7px;
}

.pick-up-location,
.delivery-dark {
  color: var(--Dark-Header-Text);
  font-weight: bold;
  font-size: 1rem;
}

.pick-up-location > span {
  text-decoration: underline;
}

.pick-up-location > span:hover {
  cursor: pointer;
  color: rgb(26, 26, 26);
}

.pick-up-other,
.delivery-other,
.delivery-membership > span:hover {
  color: #7c7c7c;
  text-decoration: underline;
}

.pick-up-other:hover,
.delivery-other:hover,
.delivery-membership > span:hover,
.product-information .shipping-info > span:hover {
  cursor: pointer;
  color: #505050;
}

.fulfillment-store {
  display: flex;
  gap: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
}

.product-information .fulfillment-info-green {
  color: #505050;
}

.product-information .fulfillment-info-green {
  color: #008300;
}

.product-information .quantity-left {
  color: #cd854a;
  font-size: 1rem;
}

.product-page .delivery-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.delivery-membership {
  color: #7c7c7c;
}

.delivery-membership > span {
  color: #7c7c7c;
  text-decoration: underline;
}

.product-information .shipping-info {
  color: #7c7c7c;
}

.product-information .shipping-info > span {
  text-decoration: underline;
}

.product-page .flex__container {
  padding-top: 1rem;
  display: flex;
  gap: 1.5rem;
}

.product-header.mobile {
  display: none;
}

@media (max-width: 600px) {
  .product-page {
    max-width: 100%;
    grid-template-columns: 100%;
    padding: 1.2rem 0rem;
    gap: 1.8rem;
  }

  .product-header {
    display: none;
  }

  /* .product-page {
    max-width: 1200px;
    padding: 1.5rem 0rem;
    padding-top: 2rem;
    display: grid;
    justify-items: center;
  } */

  .product-header.mobile {
    display: block;
    font-size: 1.3rem;
    max-width: 100%;
    padding: 0rem 1rem;
    color: var(--Dark-Header-Text);
  }

  .product-page .product-image {
    width: 200px;
    height: auto;
  }

  .product-information {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-items: start;
    max-width: 100%;
  }

  .product-information > * {
    padding: 0rem 1rem;
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    padding: 1rem 0rem;
    /* justify-content: center; */
  }

  .ratings-info {
    display: flex;
    gap: 7px;
    /* width: 70%; */
    justify-content: center;
  }

  .ratings-questions,
  .rating-number {
    font-size: 0.9rem;
  }
}
