.top-items-display {
  background-color: #f8f5ec;
  max-width: 1200px;
  padding: 1.3rem;
  border-radius: 3px;
}

.top-items {
  display: flex;
  gap: 12px;
}

.top-items-display > h1 {
  padding-bottom: var(--section-header-padding);
  font-size: var(--section-header-size);
  color: var(--Dark-Header-Text);
}
